.input-group-btn {
    position: relative;
    /* This avoid the "clear" button being hidden while
       the input has focus on. */
    z-index: 1000;
}

#searchBox {
    padding-right: 16px;
    border-radius: 5px;
    width: auto !important;
    flex: unset !important;
}

#clearA,
#clearUrl {
    margin-left: -40px;
    margin-top: -2px;
    z-index: 100;
}

/* This avoid the bad effect when clicking the button. */
#clearA:hover,
#clearA:active,
#clearUrl:hover,
#clearUrl:active {
    box-shadow: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #b4b4b4;
}