.input-group-btn {
    position: relative;
    /* This avoid the "clear" button being hidden while
       the input has focus on. */
    z-index: 1000;
}

#searchBox {
    padding-right: 16px;
    border-radius: 5px;
    width: auto !important;
    flex: unset !important;
}

#clearA {
    margin-left: -40px;
    margin-top: -2px;
    z-index: 100;
}

/* This avoid the bad effect when clicking the button. */
#clearA:hover,
#clearA:active {
    box-shadow: none;
}